# Python
venv/
.venv/
env/
bin/
lib/
include/
Scripts/
__pycache__/
*.pyc

# Database
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db

# Env
.env

# IDE
.vscode/
.idea/
*.swp

# Zip
*.zip
*.tar.gz
*.rar

# Large files
*.onnx
*.pt
*.pth
*.bin
*.dll
*.exe